<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zx.evpop.jdbc.dao.FeeTypeMapper" >
  <resultMap id="BaseResultMap" type="com.zx.evpop.jdbc.entity.FeeType" >
    <id column="tbft_id" property="tbftId" jdbcType="INTEGER" />
    <result column="tbft_host" property="tbftHost" jdbcType="SMALLINT" />
    <result column="tbft_name" property="tbftName" jdbcType="VARCHAR" />
    <result column="tbft_goods" property="tbftGoods" jdbcType="VARCHAR" />
    <result column="tbft_models" property="tbftModels" jdbcType="VARCHAR" />
    <result column="tbft_on" property="tbftOn" jdbcType="DOUBLE" />
    <result column="tbft_off" property="tbftOff" jdbcType="DOUBLE" />
    <result column="tbft_update_time" property="tbftUpdateTime" jdbcType="TIMESTAMP" />
    <result column="tbft_add_time" property="tbftAddTime" jdbcType="TIMESTAMP" />
    <result column="tbft_status" property="tbftStatus" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    tbft_id, tbft_host, tbft_name, tbft_goods, tbft_models, tbft_on, tbft_off, tbft_update_time, 
    tbft_add_time, tbft_status
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.zx.evpop.jdbc.entity.FeeTypeExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_fee_type
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_fee_type
    where tbft_id = #{tbftId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_fee_type
    where tbft_id = #{tbftId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zx.evpop.jdbc.entity.FeeType" >
    insert into tb_fee_type (tbft_id, tbft_host, tbft_name, 
      tbft_goods, tbft_models, tbft_on, 
      tbft_off, tbft_update_time, tbft_add_time, 
      tbft_status)
    values (#{tbftId,jdbcType=INTEGER}, #{tbftHost,jdbcType=SMALLINT}, #{tbftName,jdbcType=VARCHAR}, 
      #{tbftGoods,jdbcType=VARCHAR}, #{tbftModels,jdbcType=VARCHAR}, #{tbftOn,jdbcType=DOUBLE}, 
      #{tbftOff,jdbcType=DOUBLE}, #{tbftUpdateTime,jdbcType=TIMESTAMP}, #{tbftAddTime,jdbcType=TIMESTAMP}, 
      #{tbftStatus,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.zx.evpop.jdbc.entity.FeeType" >
    insert into tb_fee_type
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tbftId != null" >
        tbft_id,
      </if>
      <if test="tbftHost != null" >
        tbft_host,
      </if>
      <if test="tbftName != null" >
        tbft_name,
      </if>
      <if test="tbftGoods != null" >
        tbft_goods,
      </if>
      <if test="tbftModels != null" >
        tbft_models,
      </if>
      <if test="tbftOn != null" >
        tbft_on,
      </if>
      <if test="tbftOff != null" >
        tbft_off,
      </if>
      <if test="tbftUpdateTime != null" >
        tbft_update_time,
      </if>
      <if test="tbftAddTime != null" >
        tbft_add_time,
      </if>
      <if test="tbftStatus != null" >
        tbft_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tbftId != null" >
        #{tbftId,jdbcType=INTEGER},
      </if>
      <if test="tbftHost != null" >
        #{tbftHost,jdbcType=SMALLINT},
      </if>
      <if test="tbftName != null" >
        #{tbftName,jdbcType=VARCHAR},
      </if>
      <if test="tbftGoods != null" >
        #{tbftGoods,jdbcType=VARCHAR},
      </if>
      <if test="tbftModels != null" >
        #{tbftModels,jdbcType=VARCHAR},
      </if>
      <if test="tbftOn != null" >
        #{tbftOn,jdbcType=DOUBLE},
      </if>
      <if test="tbftOff != null" >
        #{tbftOff,jdbcType=DOUBLE},
      </if>
      <if test="tbftUpdateTime != null" >
        #{tbftUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="tbftAddTime != null" >
        #{tbftAddTime,jdbcType=TIMESTAMP},
      </if>
      <if test="tbftStatus != null" >
        #{tbftStatus,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zx.evpop.jdbc.entity.FeeTypeExample" resultType="java.lang.Integer" >
    select count(*) from tb_fee_type
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_fee_type
    <set >
      <if test="record.tbftId != null" >
        tbft_id = #{record.tbftId,jdbcType=INTEGER},
      </if>
      <if test="record.tbftHost != null" >
        tbft_host = #{record.tbftHost,jdbcType=SMALLINT},
      </if>
      <if test="record.tbftName != null" >
        tbft_name = #{record.tbftName,jdbcType=VARCHAR},
      </if>
      <if test="record.tbftGoods != null" >
        tbft_goods = #{record.tbftGoods,jdbcType=VARCHAR},
      </if>
      <if test="record.tbftModels != null" >
        tbft_models = #{record.tbftModels,jdbcType=VARCHAR},
      </if>
      <if test="record.tbftOn != null" >
        tbft_on = #{record.tbftOn,jdbcType=DOUBLE},
      </if>
      <if test="record.tbftOff != null" >
        tbft_off = #{record.tbftOff,jdbcType=DOUBLE},
      </if>
      <if test="record.tbftUpdateTime != null" >
        tbft_update_time = #{record.tbftUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.tbftAddTime != null" >
        tbft_add_time = #{record.tbftAddTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.tbftStatus != null" >
        tbft_status = #{record.tbftStatus,jdbcType=TINYINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_fee_type
    set tbft_id = #{record.tbftId,jdbcType=INTEGER},
      tbft_host = #{record.tbftHost,jdbcType=SMALLINT},
      tbft_name = #{record.tbftName,jdbcType=VARCHAR},
      tbft_goods = #{record.tbftGoods,jdbcType=VARCHAR},
      tbft_models = #{record.tbftModels,jdbcType=VARCHAR},
      tbft_on = #{record.tbftOn,jdbcType=DOUBLE},
      tbft_off = #{record.tbftOff,jdbcType=DOUBLE},
      tbft_update_time = #{record.tbftUpdateTime,jdbcType=TIMESTAMP},
      tbft_add_time = #{record.tbftAddTime,jdbcType=TIMESTAMP},
      tbft_status = #{record.tbftStatus,jdbcType=TINYINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zx.evpop.jdbc.entity.FeeType" >
    update tb_fee_type
    <set >
      <if test="tbftHost != null" >
        tbft_host = #{tbftHost,jdbcType=SMALLINT},
      </if>
      <if test="tbftName != null" >
        tbft_name = #{tbftName,jdbcType=VARCHAR},
      </if>
      <if test="tbftGoods != null" >
        tbft_goods = #{tbftGoods,jdbcType=VARCHAR},
      </if>
      <if test="tbftModels != null" >
        tbft_models = #{tbftModels,jdbcType=VARCHAR},
      </if>
      <if test="tbftOn != null" >
        tbft_on = #{tbftOn,jdbcType=DOUBLE},
      </if>
      <if test="tbftOff != null" >
        tbft_off = #{tbftOff,jdbcType=DOUBLE},
      </if>
      <if test="tbftUpdateTime != null" >
        tbft_update_time = #{tbftUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="tbftAddTime != null" >
        tbft_add_time = #{tbftAddTime,jdbcType=TIMESTAMP},
      </if>
      <if test="tbftStatus != null" >
        tbft_status = #{tbftStatus,jdbcType=TINYINT},
      </if>
    </set>
    where tbft_id = #{tbftId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zx.evpop.jdbc.entity.FeeType" >
    update tb_fee_type
    set tbft_host = #{tbftHost,jdbcType=SMALLINT},
      tbft_name = #{tbftName,jdbcType=VARCHAR},
      tbft_goods = #{tbftGoods,jdbcType=VARCHAR},
      tbft_models = #{tbftModels,jdbcType=VARCHAR},
      tbft_on = #{tbftOn,jdbcType=DOUBLE},
      tbft_off = #{tbftOff,jdbcType=DOUBLE},
      tbft_update_time = #{tbftUpdateTime,jdbcType=TIMESTAMP},
      tbft_add_time = #{tbftAddTime,jdbcType=TIMESTAMP},
      tbft_status = #{tbftStatus,jdbcType=TINYINT}
    where tbft_id = #{tbftId,jdbcType=INTEGER}
  </update>
</mapper>