<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zx.evpop.jdbc.dao.IntegralRuleMapper" >
  <resultMap id="BaseResultMap" type="com.zx.evpop.jdbc.entity.IntegralRule" >
    <id column="tbir_id" property="tbirId" jdbcType="INTEGER" />
    <result column="tbir_name" property="tbirName" jdbcType="VARCHAR" />
    <result column="tbir_flag" property="tbirFlag" jdbcType="VARCHAR" />
    <result column="tbir_money" property="tbirMoney" jdbcType="INTEGER" />
    <result column="tbir_depict" property="tbirDepict" jdbcType="VARCHAR" />
    <result column="tbir_integral" property="tbirIntegral" jdbcType="DECIMAL" />
    <result column="tbir_update_time" property="tbirUpdateTime" jdbcType="TIMESTAMP" />
    <result column="tbir_add_time" property="tbirAddTime" jdbcType="TIMESTAMP" />
    <result column="tbir_status" property="tbirStatus" jdbcType="TINYINT" />
    <result column="createTime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="modifyDate" property="modifydate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    tbir_id, tbir_name, tbir_flag, tbir_money, tbir_depict, tbir_integral, tbir_update_time, 
    tbir_add_time, tbir_status, createTime, modifyDate
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.zx.evpop.jdbc.entity.IntegralRuleExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_integral_rule
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_integral_rule
    where tbir_id = #{tbirId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_integral_rule
    where tbir_id = #{tbirId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zx.evpop.jdbc.entity.IntegralRule" >
    insert into tb_integral_rule (tbir_id, tbir_name, tbir_flag, 
      tbir_money, tbir_depict, tbir_integral, 
      tbir_update_time, tbir_add_time, tbir_status, 
      createTime, modifyDate)
    values (#{tbirId,jdbcType=INTEGER}, #{tbirName,jdbcType=VARCHAR}, #{tbirFlag,jdbcType=VARCHAR}, 
      #{tbirMoney,jdbcType=INTEGER}, #{tbirDepict,jdbcType=VARCHAR}, #{tbirIntegral,jdbcType=DECIMAL}, 
      #{tbirUpdateTime,jdbcType=TIMESTAMP}, #{tbirAddTime,jdbcType=TIMESTAMP}, #{tbirStatus,jdbcType=TINYINT}, 
      #{createtime,jdbcType=TIMESTAMP}, #{modifydate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.zx.evpop.jdbc.entity.IntegralRule" >
    insert into tb_integral_rule
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tbirId != null" >
        tbir_id,
      </if>
      <if test="tbirName != null" >
        tbir_name,
      </if>
      <if test="tbirFlag != null" >
        tbir_flag,
      </if>
      <if test="tbirMoney != null" >
        tbir_money,
      </if>
      <if test="tbirDepict != null" >
        tbir_depict,
      </if>
      <if test="tbirIntegral != null" >
        tbir_integral,
      </if>
      <if test="tbirUpdateTime != null" >
        tbir_update_time,
      </if>
      <if test="tbirAddTime != null" >
        tbir_add_time,
      </if>
      <if test="tbirStatus != null" >
        tbir_status,
      </if>
      <if test="createtime != null" >
        createTime,
      </if>
      <if test="modifydate != null" >
        modifyDate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tbirId != null" >
        #{tbirId,jdbcType=INTEGER},
      </if>
      <if test="tbirName != null" >
        #{tbirName,jdbcType=VARCHAR},
      </if>
      <if test="tbirFlag != null" >
        #{tbirFlag,jdbcType=VARCHAR},
      </if>
      <if test="tbirMoney != null" >
        #{tbirMoney,jdbcType=INTEGER},
      </if>
      <if test="tbirDepict != null" >
        #{tbirDepict,jdbcType=VARCHAR},
      </if>
      <if test="tbirIntegral != null" >
        #{tbirIntegral,jdbcType=DECIMAL},
      </if>
      <if test="tbirUpdateTime != null" >
        #{tbirUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="tbirAddTime != null" >
        #{tbirAddTime,jdbcType=TIMESTAMP},
      </if>
      <if test="tbirStatus != null" >
        #{tbirStatus,jdbcType=TINYINT},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifydate != null" >
        #{modifydate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zx.evpop.jdbc.entity.IntegralRuleExample" resultType="java.lang.Integer" >
    select count(*) from tb_integral_rule
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_integral_rule
    <set >
      <if test="record.tbirId != null" >
        tbir_id = #{record.tbirId,jdbcType=INTEGER},
      </if>
      <if test="record.tbirName != null" >
        tbir_name = #{record.tbirName,jdbcType=VARCHAR},
      </if>
      <if test="record.tbirFlag != null" >
        tbir_flag = #{record.tbirFlag,jdbcType=VARCHAR},
      </if>
      <if test="record.tbirMoney != null" >
        tbir_money = #{record.tbirMoney,jdbcType=INTEGER},
      </if>
      <if test="record.tbirDepict != null" >
        tbir_depict = #{record.tbirDepict,jdbcType=VARCHAR},
      </if>
      <if test="record.tbirIntegral != null" >
        tbir_integral = #{record.tbirIntegral,jdbcType=DECIMAL},
      </if>
      <if test="record.tbirUpdateTime != null" >
        tbir_update_time = #{record.tbirUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.tbirAddTime != null" >
        tbir_add_time = #{record.tbirAddTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.tbirStatus != null" >
        tbir_status = #{record.tbirStatus,jdbcType=TINYINT},
      </if>
      <if test="record.createtime != null" >
        createTime = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifydate != null" >
        modifyDate = #{record.modifydate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_integral_rule
    set tbir_id = #{record.tbirId,jdbcType=INTEGER},
      tbir_name = #{record.tbirName,jdbcType=VARCHAR},
      tbir_flag = #{record.tbirFlag,jdbcType=VARCHAR},
      tbir_money = #{record.tbirMoney,jdbcType=INTEGER},
      tbir_depict = #{record.tbirDepict,jdbcType=VARCHAR},
      tbir_integral = #{record.tbirIntegral,jdbcType=DECIMAL},
      tbir_update_time = #{record.tbirUpdateTime,jdbcType=TIMESTAMP},
      tbir_add_time = #{record.tbirAddTime,jdbcType=TIMESTAMP},
      tbir_status = #{record.tbirStatus,jdbcType=TINYINT},
      createTime = #{record.createtime,jdbcType=TIMESTAMP},
      modifyDate = #{record.modifydate,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zx.evpop.jdbc.entity.IntegralRule" >
    update tb_integral_rule
    <set >
      <if test="tbirName != null" >
        tbir_name = #{tbirName,jdbcType=VARCHAR},
      </if>
      <if test="tbirFlag != null" >
        tbir_flag = #{tbirFlag,jdbcType=VARCHAR},
      </if>
      <if test="tbirMoney != null" >
        tbir_money = #{tbirMoney,jdbcType=INTEGER},
      </if>
      <if test="tbirDepict != null" >
        tbir_depict = #{tbirDepict,jdbcType=VARCHAR},
      </if>
      <if test="tbirIntegral != null" >
        tbir_integral = #{tbirIntegral,jdbcType=DECIMAL},
      </if>
      <if test="tbirUpdateTime != null" >
        tbir_update_time = #{tbirUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="tbirAddTime != null" >
        tbir_add_time = #{tbirAddTime,jdbcType=TIMESTAMP},
      </if>
      <if test="tbirStatus != null" >
        tbir_status = #{tbirStatus,jdbcType=TINYINT},
      </if>
      <if test="createtime != null" >
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifydate != null" >
        modifyDate = #{modifydate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where tbir_id = #{tbirId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zx.evpop.jdbc.entity.IntegralRule" >
    update tb_integral_rule
    set tbir_name = #{tbirName,jdbcType=VARCHAR},
      tbir_flag = #{tbirFlag,jdbcType=VARCHAR},
      tbir_money = #{tbirMoney,jdbcType=INTEGER},
      tbir_depict = #{tbirDepict,jdbcType=VARCHAR},
      tbir_integral = #{tbirIntegral,jdbcType=DECIMAL},
      tbir_update_time = #{tbirUpdateTime,jdbcType=TIMESTAMP},
      tbir_add_time = #{tbirAddTime,jdbcType=TIMESTAMP},
      tbir_status = #{tbirStatus,jdbcType=TINYINT},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      modifyDate = #{modifydate,jdbcType=TIMESTAMP}
    where tbir_id = #{tbirId,jdbcType=INTEGER}
  </update>
</mapper>