<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zx.evpop.jdbc.dao.RecordMapper" >
  <resultMap id="BaseResultMap" type="com.zx.evpop.jdbc.entity.Record" >
    <id column="tbr_id" property="tbrId" jdbcType="BIGINT" />
    <result column="tbr_host" property="tbrHost" jdbcType="SMALLINT" />
    <result column="tbr_no" property="tbrNo" jdbcType="VARCHAR" />
    <result column="tbr_trade_no" property="tbrTradeNo" jdbcType="VARCHAR" />
    <result column="tbr_profile" property="tbrProfile" jdbcType="VARCHAR" />
    <result column="tbr_member" property="tbrMember" jdbcType="INTEGER" />
    <result column="tbr_money_type" property="tbrMoneyType" jdbcType="TINYINT" />
    <result column="tbr_record_subject" property="tbrRecordSubject" jdbcType="INTEGER" />
    <result column="tbr_in" property="tbrIn" jdbcType="DECIMAL" />
    <result column="tbr_out" property="tbrOut" jdbcType="DECIMAL" />
    <result column="tbr_amount" property="tbrAmount" jdbcType="DECIMAL" />
    <result column="tbr_add_time" property="tbrAddTime" jdbcType="TIMESTAMP" />
    <result column="tbr_remark" property="tbrRemark" jdbcType="VARCHAR" />
    <result column="tbr_order" property="tbrOrder" jdbcType="BIGINT" />
    <result column="tbr_long_order" property="tbrLongOrder" jdbcType="BIGINT" />
    <result column="tbr_relate" property="tbrRelate" jdbcType="VARCHAR" />
    <result column="tbr_editor" property="tbrEditor" jdbcType="INTEGER" />
    <result column="tbr_serial" property="tbrSerial" jdbcType="VARCHAR" />
    <result column="tbr_status" property="tbrStatus" jdbcType="TINYINT" />
    <result column="createTime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="modifyDate" property="modifydate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    tbr_id, tbr_host, tbr_no, tbr_trade_no, tbr_profile, tbr_member, tbr_money_type, 
    tbr_record_subject, tbr_in, tbr_out, tbr_amount, tbr_add_time, tbr_remark, tbr_order, 
    tbr_long_order, tbr_relate, tbr_editor, tbr_serial, tbr_status, createTime, modifyDate
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.zx.evpop.jdbc.entity.RecordExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from tb_record
    where tbr_id = #{tbrId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from tb_record
    where tbr_id = #{tbrId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.zx.evpop.jdbc.entity.Record" >
    insert into tb_record (tbr_id, tbr_host, tbr_no, 
      tbr_trade_no, tbr_profile, tbr_member, 
      tbr_money_type, tbr_record_subject, tbr_in, 
      tbr_out, tbr_amount, tbr_add_time, 
      tbr_remark, tbr_order, tbr_long_order, 
      tbr_relate, tbr_editor, tbr_serial, 
      tbr_status, createTime, modifyDate
      )
    values (#{tbrId,jdbcType=BIGINT}, #{tbrHost,jdbcType=SMALLINT}, #{tbrNo,jdbcType=VARCHAR}, 
      #{tbrTradeNo,jdbcType=VARCHAR}, #{tbrProfile,jdbcType=VARCHAR}, #{tbrMember,jdbcType=INTEGER}, 
      #{tbrMoneyType,jdbcType=TINYINT}, #{tbrRecordSubject,jdbcType=INTEGER}, #{tbrIn,jdbcType=DECIMAL}, 
      #{tbrOut,jdbcType=DECIMAL}, #{tbrAmount,jdbcType=DECIMAL}, #{tbrAddTime,jdbcType=TIMESTAMP}, 
      #{tbrRemark,jdbcType=VARCHAR}, #{tbrOrder,jdbcType=BIGINT}, #{tbrLongOrder,jdbcType=BIGINT}, 
      #{tbrRelate,jdbcType=VARCHAR}, #{tbrEditor,jdbcType=INTEGER}, #{tbrSerial,jdbcType=VARCHAR}, 
      #{tbrStatus,jdbcType=TINYINT}, #{createtime,jdbcType=TIMESTAMP}, #{modifydate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zx.evpop.jdbc.entity.Record" >
    insert into tb_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tbrId != null" >
        tbr_id,
      </if>
      <if test="tbrHost != null" >
        tbr_host,
      </if>
      <if test="tbrNo != null" >
        tbr_no,
      </if>
      <if test="tbrTradeNo != null" >
        tbr_trade_no,
      </if>
      <if test="tbrProfile != null" >
        tbr_profile,
      </if>
      <if test="tbrMember != null" >
        tbr_member,
      </if>
      <if test="tbrMoneyType != null" >
        tbr_money_type,
      </if>
      <if test="tbrRecordSubject != null" >
        tbr_record_subject,
      </if>
      <if test="tbrIn != null" >
        tbr_in,
      </if>
      <if test="tbrOut != null" >
        tbr_out,
      </if>
      <if test="tbrAmount != null" >
        tbr_amount,
      </if>
      <if test="tbrAddTime != null" >
        tbr_add_time,
      </if>
      <if test="tbrRemark != null" >
        tbr_remark,
      </if>
      <if test="tbrOrder != null" >
        tbr_order,
      </if>
      <if test="tbrLongOrder != null" >
        tbr_long_order,
      </if>
      <if test="tbrRelate != null" >
        tbr_relate,
      </if>
      <if test="tbrEditor != null" >
        tbr_editor,
      </if>
      <if test="tbrSerial != null" >
        tbr_serial,
      </if>
      <if test="tbrStatus != null" >
        tbr_status,
      </if>
      <if test="createtime != null" >
        createTime,
      </if>
      <if test="modifydate != null" >
        modifyDate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tbrId != null" >
        #{tbrId,jdbcType=BIGINT},
      </if>
      <if test="tbrHost != null" >
        #{tbrHost,jdbcType=SMALLINT},
      </if>
      <if test="tbrNo != null" >
        #{tbrNo,jdbcType=VARCHAR},
      </if>
      <if test="tbrTradeNo != null" >
        #{tbrTradeNo,jdbcType=VARCHAR},
      </if>
      <if test="tbrProfile != null" >
        #{tbrProfile,jdbcType=VARCHAR},
      </if>
      <if test="tbrMember != null" >
        #{tbrMember,jdbcType=INTEGER},
      </if>
      <if test="tbrMoneyType != null" >
        #{tbrMoneyType,jdbcType=TINYINT},
      </if>
      <if test="tbrRecordSubject != null" >
        #{tbrRecordSubject,jdbcType=INTEGER},
      </if>
      <if test="tbrIn != null" >
        #{tbrIn,jdbcType=DECIMAL},
      </if>
      <if test="tbrOut != null" >
        #{tbrOut,jdbcType=DECIMAL},
      </if>
      <if test="tbrAmount != null" >
        #{tbrAmount,jdbcType=DECIMAL},
      </if>
      <if test="tbrAddTime != null" >
        #{tbrAddTime,jdbcType=TIMESTAMP},
      </if>
      <if test="tbrRemark != null" >
        #{tbrRemark,jdbcType=VARCHAR},
      </if>
      <if test="tbrOrder != null" >
        #{tbrOrder,jdbcType=BIGINT},
      </if>
      <if test="tbrLongOrder != null" >
        #{tbrLongOrder,jdbcType=BIGINT},
      </if>
      <if test="tbrRelate != null" >
        #{tbrRelate,jdbcType=VARCHAR},
      </if>
      <if test="tbrEditor != null" >
        #{tbrEditor,jdbcType=INTEGER},
      </if>
      <if test="tbrSerial != null" >
        #{tbrSerial,jdbcType=VARCHAR},
      </if>
      <if test="tbrStatus != null" >
        #{tbrStatus,jdbcType=TINYINT},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifydate != null" >
        #{modifydate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zx.evpop.jdbc.entity.RecordExample" resultType="java.lang.Integer" >
    select count(*) from tb_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_record
    <set >
      <if test="record.tbrId != null" >
        tbr_id = #{record.tbrId,jdbcType=BIGINT},
      </if>
      <if test="record.tbrHost != null" >
        tbr_host = #{record.tbrHost,jdbcType=SMALLINT},
      </if>
      <if test="record.tbrNo != null" >
        tbr_no = #{record.tbrNo,jdbcType=VARCHAR},
      </if>
      <if test="record.tbrTradeNo != null" >
        tbr_trade_no = #{record.tbrTradeNo,jdbcType=VARCHAR},
      </if>
      <if test="record.tbrProfile != null" >
        tbr_profile = #{record.tbrProfile,jdbcType=VARCHAR},
      </if>
      <if test="record.tbrMember != null" >
        tbr_member = #{record.tbrMember,jdbcType=INTEGER},
      </if>
      <if test="record.tbrMoneyType != null" >
        tbr_money_type = #{record.tbrMoneyType,jdbcType=TINYINT},
      </if>
      <if test="record.tbrRecordSubject != null" >
        tbr_record_subject = #{record.tbrRecordSubject,jdbcType=INTEGER},
      </if>
      <if test="record.tbrIn != null" >
        tbr_in = #{record.tbrIn,jdbcType=DECIMAL},
      </if>
      <if test="record.tbrOut != null" >
        tbr_out = #{record.tbrOut,jdbcType=DECIMAL},
      </if>
      <if test="record.tbrAmount != null" >
        tbr_amount = #{record.tbrAmount,jdbcType=DECIMAL},
      </if>
      <if test="record.tbrAddTime != null" >
        tbr_add_time = #{record.tbrAddTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.tbrRemark != null" >
        tbr_remark = #{record.tbrRemark,jdbcType=VARCHAR},
      </if>
      <if test="record.tbrOrder != null" >
        tbr_order = #{record.tbrOrder,jdbcType=BIGINT},
      </if>
      <if test="record.tbrLongOrder != null" >
        tbr_long_order = #{record.tbrLongOrder,jdbcType=BIGINT},
      </if>
      <if test="record.tbrRelate != null" >
        tbr_relate = #{record.tbrRelate,jdbcType=VARCHAR},
      </if>
      <if test="record.tbrEditor != null" >
        tbr_editor = #{record.tbrEditor,jdbcType=INTEGER},
      </if>
      <if test="record.tbrSerial != null" >
        tbr_serial = #{record.tbrSerial,jdbcType=VARCHAR},
      </if>
      <if test="record.tbrStatus != null" >
        tbr_status = #{record.tbrStatus,jdbcType=TINYINT},
      </if>
      <if test="record.createtime != null" >
        createTime = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifydate != null" >
        modifyDate = #{record.modifydate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_record
    set tbr_id = #{record.tbrId,jdbcType=BIGINT},
      tbr_host = #{record.tbrHost,jdbcType=SMALLINT},
      tbr_no = #{record.tbrNo,jdbcType=VARCHAR},
      tbr_trade_no = #{record.tbrTradeNo,jdbcType=VARCHAR},
      tbr_profile = #{record.tbrProfile,jdbcType=VARCHAR},
      tbr_member = #{record.tbrMember,jdbcType=INTEGER},
      tbr_money_type = #{record.tbrMoneyType,jdbcType=TINYINT},
      tbr_record_subject = #{record.tbrRecordSubject,jdbcType=INTEGER},
      tbr_in = #{record.tbrIn,jdbcType=DECIMAL},
      tbr_out = #{record.tbrOut,jdbcType=DECIMAL},
      tbr_amount = #{record.tbrAmount,jdbcType=DECIMAL},
      tbr_add_time = #{record.tbrAddTime,jdbcType=TIMESTAMP},
      tbr_remark = #{record.tbrRemark,jdbcType=VARCHAR},
      tbr_order = #{record.tbrOrder,jdbcType=BIGINT},
      tbr_long_order = #{record.tbrLongOrder,jdbcType=BIGINT},
      tbr_relate = #{record.tbrRelate,jdbcType=VARCHAR},
      tbr_editor = #{record.tbrEditor,jdbcType=INTEGER},
      tbr_serial = #{record.tbrSerial,jdbcType=VARCHAR},
      tbr_status = #{record.tbrStatus,jdbcType=TINYINT},
      createTime = #{record.createtime,jdbcType=TIMESTAMP},
      modifyDate = #{record.modifydate,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zx.evpop.jdbc.entity.Record" >
    update tb_record
    <set >
      <if test="tbrHost != null" >
        tbr_host = #{tbrHost,jdbcType=SMALLINT},
      </if>
      <if test="tbrNo != null" >
        tbr_no = #{tbrNo,jdbcType=VARCHAR},
      </if>
      <if test="tbrTradeNo != null" >
        tbr_trade_no = #{tbrTradeNo,jdbcType=VARCHAR},
      </if>
      <if test="tbrProfile != null" >
        tbr_profile = #{tbrProfile,jdbcType=VARCHAR},
      </if>
      <if test="tbrMember != null" >
        tbr_member = #{tbrMember,jdbcType=INTEGER},
      </if>
      <if test="tbrMoneyType != null" >
        tbr_money_type = #{tbrMoneyType,jdbcType=TINYINT},
      </if>
      <if test="tbrRecordSubject != null" >
        tbr_record_subject = #{tbrRecordSubject,jdbcType=INTEGER},
      </if>
      <if test="tbrIn != null" >
        tbr_in = #{tbrIn,jdbcType=DECIMAL},
      </if>
      <if test="tbrOut != null" >
        tbr_out = #{tbrOut,jdbcType=DECIMAL},
      </if>
      <if test="tbrAmount != null" >
        tbr_amount = #{tbrAmount,jdbcType=DECIMAL},
      </if>
      <if test="tbrAddTime != null" >
        tbr_add_time = #{tbrAddTime,jdbcType=TIMESTAMP},
      </if>
      <if test="tbrRemark != null" >
        tbr_remark = #{tbrRemark,jdbcType=VARCHAR},
      </if>
      <if test="tbrOrder != null" >
        tbr_order = #{tbrOrder,jdbcType=BIGINT},
      </if>
      <if test="tbrLongOrder != null" >
        tbr_long_order = #{tbrLongOrder,jdbcType=BIGINT},
      </if>
      <if test="tbrRelate != null" >
        tbr_relate = #{tbrRelate,jdbcType=VARCHAR},
      </if>
      <if test="tbrEditor != null" >
        tbr_editor = #{tbrEditor,jdbcType=INTEGER},
      </if>
      <if test="tbrSerial != null" >
        tbr_serial = #{tbrSerial,jdbcType=VARCHAR},
      </if>
      <if test="tbrStatus != null" >
        tbr_status = #{tbrStatus,jdbcType=TINYINT},
      </if>
      <if test="createtime != null" >
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifydate != null" >
        modifyDate = #{modifydate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where tbr_id = #{tbrId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zx.evpop.jdbc.entity.Record" >
    update tb_record
    set tbr_host = #{tbrHost,jdbcType=SMALLINT},
      tbr_no = #{tbrNo,jdbcType=VARCHAR},
      tbr_trade_no = #{tbrTradeNo,jdbcType=VARCHAR},
      tbr_profile = #{tbrProfile,jdbcType=VARCHAR},
      tbr_member = #{tbrMember,jdbcType=INTEGER},
      tbr_money_type = #{tbrMoneyType,jdbcType=TINYINT},
      tbr_record_subject = #{tbrRecordSubject,jdbcType=INTEGER},
      tbr_in = #{tbrIn,jdbcType=DECIMAL},
      tbr_out = #{tbrOut,jdbcType=DECIMAL},
      tbr_amount = #{tbrAmount,jdbcType=DECIMAL},
      tbr_add_time = #{tbrAddTime,jdbcType=TIMESTAMP},
      tbr_remark = #{tbrRemark,jdbcType=VARCHAR},
      tbr_order = #{tbrOrder,jdbcType=BIGINT},
      tbr_long_order = #{tbrLongOrder,jdbcType=BIGINT},
      tbr_relate = #{tbrRelate,jdbcType=VARCHAR},
      tbr_editor = #{tbrEditor,jdbcType=INTEGER},
      tbr_serial = #{tbrSerial,jdbcType=VARCHAR},
      tbr_status = #{tbrStatus,jdbcType=TINYINT},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      modifyDate = #{modifydate,jdbcType=TIMESTAMP}
    where tbr_id = #{tbrId,jdbcType=BIGINT}
  </update>
</mapper>